<h2>Top Recipes</h2>
<div fxLayout="row wrap" fxLayoutAlign="center" *ngFor="let item of allitem" class="mock-items">
  <div fxLayoutAlign="center" class="items">{{item.name}}</div>
</div>
<mat-card fxLayoutAlign="center"><h2>Create server recipe</h2></mat-card>
<form [formGroup]="form" class="addRecipe">
  <mat-form-field class="addRecipeField">
    <label>
      <input matInput type="text" placeholder="Title" formControlName="title" required>
    </label>
  </mat-form-field>
  <mat-form-field class="addRecipeField">
    <label>
      <input matInput type="text" placeholder="Description" formControlName="description" required>
    </label>
  </mat-form-field>
  <mat-form-field class="addRecipeField">
    <label>
      <input matInput type="text" placeholder="Ingredients" formControlName="ingredients" required>
    </label>
  </mat-form-field>
  <button mat-raised-button [disabled]="form.invalid" (click)="onSubmit()">Add recipe</button>
</form>

